<app-menu></app-menu>
<router-outlet> </router-outlet>

<!--<div>
  <md-input-container dividerColor="accent">
    <input md-input #numbr placeholder="Number" value="12">
  </md-input-container>
  <button md-button color="accent" (click)="numbr.value !== '0' ? init(numbr.value) : init()">Reset</button>
</div>
<div class="ctn">
  <div class="flex" *ngFor="let carte of paquet">
    <app-carte [carte]="carte" (carteEvent)="check($event)"></app-carte>
  </div>
</div>
<div *ngIf="end">Bien joué!</div>-->
<!--
<md-checkbox color="primary">check me !</md-checkbox>

<md-input-container dividerColor="warn">
  <input md-input placeholder="Favorite food" value="">
</md-input-container>

<br>

<md-card>Salut mon ami!</md-card>

<md-tab-group>
  <md-tab label="Tab 1">Content 1</md-tab>
  <md-tab label="Tab 2">Content 2</md-tab>
</md-tab-group>

<br>
<md-chip-list>
  <md-chip>Papadum</md-chip>
  <md-chip>Naan</md-chip>
  <md-chip>Dal</md-chip>
</md-chip-list>

<md-icon>alarm_off</md-icon>

<md-progress-spinner></md-progress-spinner>
<md-spinner></md-spinner>
<md-progress-bar mode="indeterminate"></md-progress-bar>
<button md-button (click)="openDialog()">Open dialog</button>

<br>

<md-input-container>
  <input md-input value="Disco party!" placeholder="Message" #message>
</md-input-container>

<md-input-container>
  <input md-input value="Dance" placeholder="Action" #action>
</md-input-container>-->

<!--<button md-button color="warn" (click)="openSnackBar('Bravo')">Show snack-bar</button>-->
